<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocHome</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/home.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/dochome.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/modelpopup.css')}}"
    />
    <script src="{{url_for('static', filename='js/cookie.js')}}"></script>
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <div class="logo">
          <img src="{{url_for('static', filename='assets/logo.png')}}" alt="" />
        </div>
        <div class="selection selected" onclick="handleNavbar(this)">
          Trang Chủ
        </div>
        <div class="user dropdown dropbtn" onclick="handleDropdown()">
          <div id="actionDropdown" class="dropdown-content">
            <a id="greeting" style="text-align: center; font-weight: 800"></a>
            <a href="/logout" id="logout">Đăng xuất</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="pending">
        <!-- <div class="item" onclick="handleBenhAn(0)">
          <div class="image">
            <img src="/images/2.jpg" alt="">
          </div>
          <div class="text">
            <p>18/09/2024</p>
            <p>20:50</p>
          </div>
        </div> -->
      </div>
      <!-- <div class="history"></div> -->
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">x</span>
        <p>Kê đơn thuốc</p>
        <div class="result" style="display: flex">
          <h2 style="align-self: flex-start; margin-left: 1rem">
            Kết quả nhận diện
          </h2>
          <div class="container">s</div>
        </div>
        <div class="medicinelist">
          <h2 style="align-self: flex-start; margin-left: 1rem">
            Kê đơn thuốc
          </h2>
          <div class="action">
            <button onclick="handlePostPrescription()">Hoàn tất</button>
          </div>
          <div style="margin-left: 5rem;">
            <textarea name="text" cols="40" rows="5" id="pillist"></textarea>
          </div>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='js/navbar.js')}}"></script>
    <script src="{{url_for('static', filename='js/dropdown.js')}}"></script>
    <script src="{{url_for('static', filename='js/dochome.js')}}"></script>
    <script src="{{url_for('static', filename='js/modelpopup.js')}}"></script>
  </body>
</html>
