<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmabox | Đăng Nhập</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container" id="login" style="display: flex;">
        <div class="logo">
            <img src="{{url_for('static', filename='assets/logo.png')}}" alt="" class="">
        </div>
        <p class="title">Đăng Nhập</p>
        <input type="text" name="username" id="username-login" placeholder="Tên Đăng Nhập">
        <input type="password" name="password" id="password-login" placeholder="Mật Khẩu">
        <input type="button" value="Đăng Nhập" id="login">
    </div>
    <div class="container" id="register" style="display: none;">
        <div class="logo">
            <img src="{{url_for('static', filename='assets/logo.png')}}" alt="" class="">
        </div>
        <p class="title">Đăng Kí</p>
        <input type="text" name="name" id="name-register">
        <input type="text" name="username" id="username-register">
        <input type="password" name="password" id="password-register">
        <input type="button" value="Đăng Kí" id="register">
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>