<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmabox</title>
  </head>
  <body>
    <script src="{{url_for('static', filename='js/cookie.js')}}"></script>
    <script>
        sessionID = getCookie('sessionID')
        if (sessionID == "") {
            location.replace('/login');
        } else {
            fetch('/', {
                method: "POST",
                body: JSON.stringify({
                    sessionID: sessionID
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(req => {return req.json()})
            .then(res => {
                if (res.status == 'false') {
                    document.cookie = "";
                    location.replace('/login');
                } else {
                    location.replace('/home');
                }
            })
        }
    </script>
  </body>
</html>
