body, html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 27px;
    font-weight: 600;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 40vw;
}

.container > input, .container > select {
    border-radius: 5px;
}
.container > input[type="password"], .container > input[type="text"], .container > select {
    width: 40vw !important;
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    font-size: 15px;
}

.container > input[type="button"] {
    width: 41vw !important;
    padding: .75rem .25rem;
    border: 1px solid black;
    background-color: red;
    color: white;
}

.container > input[type="button"]:active {
    width: 60% !important;
    padding: .75rem .25rem;
    border: 1px solid black;
    background-color: rgb(183, 5, 5);
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer > p {
    margin-left: 5px;
}

.footer > .link {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .logo > img {
        width: 80vw;
    }
    .container > input[type="password"], .container > input[type="text"], .container > select {
        width: 80vw !important;
    }
    .container > input[type="button"] {
        width: 83vw !important;
    }
}
